[submodule "instatoon"]
	path = instatoon
	url = https://github.com/noru358/instatoon.git
[submodule "talkshow"]
	path = talkshow
	url = https://github.com/noru358/talkshow.git
[submodule "jipbap"]
	path = jipbap
	url = https://github.com/noru358/jipbap.git
